<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <div *ngIf="isAuthenticated()">
  <button  (click)="logout()" class="btn btn-primary pull-right btn-sm RbtnMargin" >LogOut</button>
</div> 


<div *ngIf="value?.length">
    Welcome    {{value[0]}}
    </div>
     welcom <span *ngFor="let product of currentuser$">{{product.name}}</span> 

<button (click)="newMessage()">Send Message</button>
<button (click)="clearMessage()">Clear Message</button>

<div class="container">
  <mat-icon>create</mat-icon>
  <form [formGroup]="rForm" (ngSubmit)="login(rForm.value)">
      <div class="form-container">
        <div class="row columns">
  
          <h1>SignIn</h1>
 
          <label>Name</label>

            <input matInput formControlName="name" class="form-control"/>
          
          <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">you must provide name between 4 and 20 char</div>
  
  <br/>
          <label>Description</label>
            <input matInput formControlName="description" class="form-control"/>
         
          <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify a description that's between 30 and 500 characters.</div>
          <br/>
         
          <br/>

          <div><mat-checkbox>Remember me </mat-checkbox></div><br/>
          <input type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!rForm.valid">

          <div *ngIf="invalid" class="alert alert-danger">invalid username or password </div>
                </div>
      </div>
      
    </form>
  </div>
